/* -------------------- COLOR STUFF ------------------*/
:root {
  --squeal-green: #528b57;
  --squeal-blue: #072f38;
  --squeal-yellow: #e0bb76;
  --squeal-red: #b45656;
  --squeal-pink: #b879b8;
}

.my-green {
  background-color: var(--squeal-green);
}
.my-yellow {
  background-color: var(--squeal-yellow);
}
.my-blu {
  background-color: var(--squeal-blue);
  color: var(--squeal-green);
}
.no-bg {
  background-color: transparent;
}
.icon-my-color {
  fill: var(--squeal-red);
}

/* ------------ ATTENZIONE AGLI ALTRI FILE CSS -------------*/
html {
  text-align: center;
  background-color: var(--squeal-blue);
  color: var(--squeal-yellow);

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  overflow-x: hidden;
}
body {
  background-color: var(--squeal-blue);
  color: var(--squeal-yellow);
}
.App {
  text-align: center;
  background-color: var(--squeal-blue);
  color: var(--squeal-yellow);
}
#elemento-espanso {
  position: absolute; /* Posizionamento assoluto rispetto alla view*/
  top: 0; /* Inizia dall'alto della viewport */
  right: 0; /* Finisce a destra della viewport */
  bottom: 0; /* Finisce in basso della viewport */
  left: 0; /* Inizia da sinistra della viewport */
  width: 100vw;
  background-color: var(--squeal-yellow);
}

/* -----------------SQUEAL CARD STUFF------------------ */
.squeal {
  background-color: var(--squeal-yellow) !important;
  color: var(--squeal-green) !important;
}

.offers {
  background-color: var(--squeal-green) !important;
  color: var(--squeal-blue) !important;
}

/* -----------------FONT STUFF------------------ */
.cool-font {
  font-family: "Cool-Font", sans-serif;
  font-size: 10vw;
}
.cool-font-medium {
  font-family: "Cool-Font", sans-serif;
  font-size: 5vw;
}
.cool-font-small {
  font-family: "Cool-Font", sans-serif;
  font-size: 3vw;
}
.cool-font-xsm {
  font-family: "Cool-Font", sans-serif;
  font-size: 2vw;
  color: var(--squeal-yellow);
}

.cool-font-text {
  font-family: "Cool-Font", sans-serif;
  font-size: 2vw;
  color: var(--squeal-blue);
}
.cool-font-link {
  font-family: "Cool-Font", sans-serif;
  font-size: 2vw;
  color: var(--squeal-red);
}
.cool-font-details {
  font-family: "Cool-Font", sans-serif;
  font-size: 2vw;
  color: var(--squeal-green);
}

.cool-font-details-md {
  font-family: "Cool-Font", sans-serif;
  font-size: 5vw;
  color: var(--squeal-green);
}

@media screen and (max-width: 600px) {
  .cool-font-text,
  .cool-font-link,
  .cool-font-details {
    font-size: 4vw;
  }
}

@font-face {
  font-family: "Cool-Font";
  src: url("../../public/ArchivoBlack-Regular.ttf");
}

.text-3d {
  font-family: "Cool-Font", sans-serif;
  font-size: 10vw;
  color: var(--squeal-yellow);

  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);

  transform: perspective(400px) rotateX(20deg);
}
/* -----------------LIST STUFF------------------ */
.list:hover {
  background-color: var(--squeal-blue);
  color: #c78181;
}

/* -----------------LINK STUFF------------------ */
.youtube-link {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link-comment {
  text-decoration: none; /* Rimuove la sottolineatura */
  color: var(--squeal-blu); /* Sostituisci con il colore che desideri, ad esempio il rosso (#ff0000) */
}
/* -------------------- BUTTON STUFF ------------------*/
.custom-button {
  background-color: var(--squeal-blue);
  color: var(--squeal-yellow);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.custom-button:hover {
  background-color: var(--squeal-green);
}

.custom-button-yellow {
  background-color: var(--squeal-yellow);
  color: var(--squeal-blue);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.custom-button:hover {
  background-color: var(--squeal-green);
}

/*emoji e tipo di squeal*/
.bottoni_omologati {
  min-width: 2em;
  min-height: 2em;
  border-radius: 50%;
  background-color: var(--squeal-green);
}

.bottoni_omologati:hover {
  background-color: var(--squeal-green);
}

@media screen and (min-width: 1024px) {
  .bottoni_omologati {
    min-width: 4em;
    min-height: 4em;
  }
}

@media screen and (min-width: 768px) {
  .bottoni_omologati {
    min-width: 3.5em;
    min-height: 3.5em;
  }
}

@media screen and (max-width: 480px) {
  .bottoni_omologati {
    min-width: 3em;
    min-height: 3em;
  }
}

@media screen and (max-width: 320px) {
  .bottoni_omologati {
    min-width: 2.5em;
    min-height: 2.5em;
  }
}

.user_button {
  background-color: var(--squeal-yellow);
  color: var(--squeal-blue);
  width: 60vw;
  border: none;
  padding: 1em;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}
.user_button:hover {
  background-color: var(--squeal-green);
}

#buy-button,
#change-password,
#change-username {
  background-color: var(--squeal-green);
  color: var(--squeal-yellow);

  width: 20vw;
  padding: 1em;

  border: none;
  border-radius: 0.5rem;

  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.upgrade-button {
  background-color: var(--squeal-pink);
  color: var(--squeal-yellow);

  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

#delete-button,
#logout-button {
  background-color: var(--squeal-red);
  color: var(--squeal-yellow);

  width: 60vw;
  padding: 1em;

  border: none;
  border-color: var(--squeal-yellow);
  border-radius: 0.5rem;

  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

#delete-button:hover,
#logout-button:hover {
  background-color: var(--squeal-blue);
}

.red-button {
  background-color: var(--squeal-red);
  color: var(--squeal-yellow);
  width: 20vw;

  padding: 1em;
  border: none;

  border-radius: 0.5rem;
  cursor: pointer;
}
.blue-button {
  background-color: var(--squeal-blue);
  color: var(--squeal-yellow);
  width: 20vw;
  padding: 1em;
  border: none;

  border-radius: 0.5rem;
  cursor: pointer;
}
.yellow-button {
  background-color: var(--squeal-yellow);
  color: var(--squeal-blue);
  width: 20vw;

  padding: 1em;
  border: none;

  border-radius: 0.5rem;
  cursor: pointer;
}
.green-button {
  background-color: var(--squeal-green);
  color: var(--squeal-yellow);
  width: 20vw;

  padding: 1em;
  border: none;

  border-radius: 0.5rem;
  cursor: pointer;
}

.red-button:hover {
  background-color: var(--squeal-yellow);
}
.blue-button:hover {
  background-color: var(--squeal-green);
}
.yellow-button:hover {
  background-color: var(--squeal-blue);
}
.green-button:hover {
  background-color: var(--squeal-blue);
}
.green-button:active {
  background-color: var(--squeal-blue);
}
.reset-button {
  background-color: var(--squeal-red);
  color: var(--squeal-yellow);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* -------------------- DESTINATARIO STUFF ------------------*/
.persona {
  color: var(--squeal-blue);
  font-weight: bold;
}

.qualcosaltro1 {
  color: var(--squeal-yellow);
  font-weight: bold;
}

.qualcosaltro2 {
  color: var(--squeal-green);
  font-weight: bold;
}

.altro {
  color: var(--squeal-red);
  font-weight: bold;
}

/* -------------------- ANCHOR STUFF ------------------*/
#about-us {
  color: var(--squeal-red);
}

/* -------------------- MAP STUFF ------------------*/
#mapid {
  height: 40vh;
}

/* -------------------- IMG STUFF ------------------*/
/* Stile predefinito*/
img {
  max-width: 100%; /* L'immagine si adatta alla larghezza del suo contenitore */
  height: auto; /* Altezza automatica per evitare distorsioni */
}

/* Stile per schermi md */
@media (max-width: 768px) {
  img {
    max-width: 30%; /* Riduci la larghezza dell'immagine al 80% del suo contenitore */
  }
}

/* Stile per schermi sm */
@media (max-width: 300px) {
  img {
    max-width: 70vw;
    max-height: 30vh; /* Riduci ulteriormente la larghezza dell'immagine al 60% del suo contenitore */
  }
}

/* -------------------- 3D EFFECT ------------------*/
.box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

/* --------------------VOLTURE ------------------*/
.image-container {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  animation: enter 3s linear forwards;
}
@keyframes enter {
  0% {
    transform: translate(100%, -50%);
  }
  100% {
    transform: translate(-100%, -50%);
  }
}
/* -------------------- MODAL STUFF ------------------*/

.custom-modal-header {
  background-color: var(--squeal-pink);
  color: #ecf0f1;
}

.custom-modal-body {
  background: linear-gradient(
    to bottom,
    var(--squeal-pink),
    var(--squeal-yellow)
  );
  color: #ecf0f1;
}

.custom-modal-text {
  color: var(--squeal-blue);
  font-size: 2rem;
  font-weight: bold;
}

.custom-modal-list {
  list-style-type: none; /* Rimuove i punti dalla lista */
  padding: 0;
}

.my-foot {
  background-color: var(--squeal-yellow);
  padding: 10rem;
}

.modal-buy-header {
  background-color: var(--squeal-green);
  color: #ecf0f1;
}

.modal-buy-body {
  background: linear-gradient(
    to bottom,
    var(--squeal-green),
    var(--squeal-yellow)
  );
  color: #ecf0f1;
}

.modal-change-header {
  background-color: var(--squeal-blue);
  color: #ecf0f1;
}

.modal-change-body {
  background: linear-gradient(
    to bottom,
    var(--squeal-blue),
    var(--squeal-yellow)
  );
  color: #ecf0f1;
}

.modal-delete-header {
  background-color: var(--squeal-red);
  color: #ecf0f1;
}

.modal-delete-body {
  background: linear-gradient(
    to bottom,
    var(--squeal-red),
    var(--squeal-yellow)
  );
  color: #ecf0f1;
}

/* -------------------- TOGGLE SMM------------------*/
.toggle-button {
  color: var(--squeal-blue);
  padding: 1em;
  margin: 1em;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #528b57, #b45656);
  background-size: 200% 100%;
  transition: background-position 0.3s ease;
}

.toggle-button.toggled {
  background-position: -100% 0;
}

.slider {
  position: absolute;
  top: 2px;
  left: 2px;
  height: calc(100% - 4px);
  background-image: linear-gradient(to right, #528b57, #b45656);
  background-size: 200% 100%;
  transition: transform 0.3s ease;
}

.toggle-button.toggled .slider {
  transform: translateX(100%);
}

/* -------------------- PFP CORNICE img ------------------*/
.pfp {
  border: 1rem solid var(--squeal-green);
}
.pfp-small {
  border: 0.2rem solid var(--squeal-green);
}

.pfp-vip {
  border: 0.2rem solid var(--squeal-pink);
}

/* -------------------- MAP CORNICE ------------------*/
.borderedImage {
  border: 1rem solid var(--squeal-blue);
  border-radius: 8px;
  display: block;
}

.borderedImage:hover {
  border-color: var(--squeal-green);
}

/* -------------------- ESPERIMENTI PAZZI  img ------------------*/
/*
.background-image {
  background-color: red;
  background-size: cover;
  background-position: center;
}
*/
