/* -------------------- COLOR STUFF ------------------*/
:root {
  --squeal-green: #528b57;
  --squeal-blue: #072f38;
  --squeal-yellow: #e0bb76;
  --squeal-red: #b45656;
  --squeal-pink: #b879b8;
}

.my-green {
  background-color: var(--squeal-green);
}
.my-yellow {
  background-color: var(--squeal-yellow);
}
.my-blu {
  background-color: var(--squeal-blue);
}
.no-bg {
  background-color: transparent;
}

/* ------------ ATTENZIONE AGLI ALTRI FILE CSS -------------*/
html {
  text-align: center;
  background-color: var(--squeal-yellow);
  color: var(--squeal-blue);

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  overflow-x: hidden;
}
.App {
  text-align: center;
  background-color: var(--squeal-yellow);
  color: var(--squeal-blue);
}
#elemento-espanso {
  position: absolute; /* Posizionamento assoluto rispetto alla view*/
  top: 0; /* Inizia dall'alto della viewport */
  right: 0; /* Finisce a destra della viewport */
  bottom: 0; /* Finisce in basso della viewport */
  left: 0; /* Inizia da sinistra della viewport */
  width: 100vw;
  background-color: var(--squeal-yellow);
}

/* -----------------FONT STUFF------------------ */
.cool-font {
  font-family: "Cool-Font", sans-serif;
  font-size: 10vw;
}
.cool-font-medium {
  font-family: "Cool-Font", sans-serif;
  font-size: 5vw;
}
.cool-font-small {
  font-family: "Cool-Font", sans-serif;
  font-size: 3vw;
}
@font-face {
  font-family: "Cool-Font";
  src: url("../../public/ArchivoBlack-Regular.ttf");
}
.list:hover {
  background-color: var(--squeal-blue);
  color: #c78181;
}

/* -------------------- BUTTON STUFF: 2 tipi ------------------*/
.custom-button {
  background-color: var(--squeal-blue);
  color: var(--squeal-yellow);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.custom-button:hover {
  background-color: var(--squeal-green);
}

/*emoji*/
.bottoni_omologati {
  width: 3em;
  min-height: 3em;
  border-radius: 50%;
}
.bottoni_omologati:hover {
  background-color: var(--squeal-green);
}

.user_button {
  background-color: var(--squeal-blue);
  color: var(--squeal-yellow);
  width: 60vw;
  margin: 1em;
  border: none;
  padding: 1em;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}
.user_button:hover {
  background-color: var(--squeal-green);
}

#buy-button,
#change-password,
#change-username {
  background-color: var(--squeal-green);
  color: var(--squeal-yellow);

  width: 20vw;
  margin: 1em;
  padding: 1em;

  border: none;
  border-radius: 0.5rem;

  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.upgrade-button {
  background-color: var(--squeal-pink);
  color: var(--squeal-yellow);

  width: 100%;
  padding: 1em;
  margin: 1em;
  border: none;
  border-radius: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

#delete-button,
#logout-button {
  background-color: var(--squeal-red);
  color: var(--squeal-yellow);

  width: 60vw;
  margin: 1em;
  padding: 1em;

  border: none;
  border-color: var(--squeal-yellow);
  border-radius: 0.5rem;

  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

#delete-button:hover,
#logout-button:hover {
  background-color: var(--squeal-blue);
}

.red-button {
  background-color: var(--squeal-red);
  color: var(--squeal-yellow);
  width: 20vw;

  margin: 1em;
  padding: 1em;
  border: none;

  border-radius: 0.5rem;
  cursor: pointer;
}
.blue-button {
  background-color: var(--squeal-blue);
  color: var(--squeal-yellow);
  width: 20vw;
  margin: 1em;
  padding: 1em;
  border: none;

  border-radius: 0.5rem;
  cursor: pointer;
}
.yellow-button {
  background-color: var(--squeal-yellow);
  color: var(--squeal-blue);
  width: 20vw;

  margin: 1em;
  padding: 1em;
  border: none;

  border-radius: 0.5rem;
  cursor: pointer;
}
.green-button {
  background-color: var(--squeal-green);
  color: var(--squeal-yellow);
  width: 20vw;

  margin: 1em;
  padding: 1em;
  border: none;

  border-radius: 0.5rem;
  cursor: pointer;
}

.red-button:hover {
  background-color: var(--squeal-red);
}
.blue-button:hover {
  background-color: var(--squeal-blue);
}
.yellow-button:hover {
  background-color: var(--squeal-yellow);
}
.green-button:hover {
  background-color: var(--squeal-green);
}

/* -------------------- DESTINATARIO STUFF ------------------*/
.persona {
  color: var(--squeal-blue);
  font-weight: bold;
}

.qualcosaltro1 {
  color: var(--squeal-yellow);
  font-weight: bold;
}

.qualcosaltro2 {
  color: var(--squeal-green);
  font-weight: bold;
}

.altro {
  color: var(--squeal-red);
  font-weight: bold;
}

/* -------------------- ANCHOR STUFF ------------------*/
#about-us {
  color: var(--squeal-red);
}

/* -------------------- MAP STUFF ------------------*/
#mapid {
  height: 40vh;
}

/* -------------------- IMG STUFF ------------------*/
/* Stile predefinito*/
img {
  max-width: 100%; /* L'immagine si adatta alla larghezza del suo contenitore */
  height: auto; /* Altezza automatica per evitare distorsioni */
}

/* Stile per schermi md */
@media (max-width: 768px) {
  img {
    max-width: 30%; /* Riduci la larghezza dell'immagine al 80% del suo contenitore */
  }
}

/* Stile per schermi sm */
@media (max-width: 300px) {
  img {
    max-width: 70vw;
    max-height: 30vh; /* Riduci ulteriormente la larghezza dell'immagine al 60% del suo contenitore */
  }
}

/* -------------------- 3D EFFECT ------------------*/
.box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

/* --------------------VOLTURE ------------------*/
.vulture-animation {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.vulture-animation img {
  width: 100px;
  height: auto;
  animation: fadeIn 0.5s ease-in forwards, fadeOut 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* -------------------- MODAL STUFF ------------------*/

.custom-modal-header {
  background-color: var(--squeal-pink);
  color: #ecf0f1;
}

.custom-modal-body {
  background: linear-gradient(
    to bottom,
    var(--squeal-pink),
    var(--squeal-yellow)
  );
  color: #ecf0f1;
}

.custom-modal-text {
  color: var(--squeal-blue);
  font-size: 2rem;
  font-weight: bold;
}

.custom-modal-list {
  list-style-type: none; /* Rimuove i punti dalla lista */
  padding: 0;
}

.my-foot {
  background-color: var(--squeal-yellow);
  padding: 10rem;
}

.modal-buy-header {
  background-color: var(--squeal-green);
  color: #ecf0f1;
}

.modal-buy-body {
  background: linear-gradient(
    to bottom,
    var(--squeal-green),
    var(--squeal-yellow)
  );
  color: #ecf0f1;
}

.modal-change-header {
  background-color: var(--squeal-blue);
  color: #ecf0f1;
}

.modal-change-body {
  background: linear-gradient(
    to bottom,
    var(--squeal-blue),
    var(--squeal-yellow)
  );
  color: #ecf0f1;
}

.modal-delete-header {
  background-color: var(--squeal-red);
  color: #ecf0f1;
}

.modal-delete-body {
  background: linear-gradient(
    to bottom,
    var(--squeal-red),
    var(--squeal-yellow)
  );
  color: #ecf0f1;
}

/* -------------------- TOGGLE ------------------*/
.toggle-button {
  color: white;
  padding: 1em;
  margin: 1em;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #528b57, #b45656);
  background-size: 200% 100%;
  transition: background-position 0.3s ease;
}

.toggle-button.toggled {
  background-position: -100% 0;
}

.slider {
  position: absolute;
  top: 2px;
  left: 2px;
  height: calc(100% - 4px);
  background-image: linear-gradient(to right, #528b57, #b45656);
  background-size: 200% 100%;
  transition: transform 0.3s ease;
}

.toggle-button.toggled .slider {
  transform: translateX(100%);
}

/* -------------------- PFP CORNICE img ------------------*/
.profile-picture-container {
  border: 3px solid #3498db;
  border-radius: 50%;
  overflow: hidden; /* Assicura che l'immagine non fuoriesca dalla cornice */
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Assicura che l'immagine si adatti alla cornice */
  border-radius: 50%; /* Mantieni la stessa forma circolare */
}

/* -------------------- ESPERIMENTI PAZZI  img ------------------*/
/*
.background-image {
  background-color: red;
  background-size: cover;
  background-position: center;
}
*/

/* -------------------- MADE BY REACT STUFF ------------------*/
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
