:root {
  --squeal-green: #528b57;
  --squeal-blue: #072f38;
  --squeal-yellow: #e0bb76;
  --squeal-red: rgb(180, 86, 86);
}

/* ------------ ATTENZIONE AGLI ALTRI FILE CSS -------------*/
html {
  text-align: center;
  background-color: var(--squeal-blue);
  color: var(--squeal-yellow);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.my-green {
  background-color: var(--squeal-green);
}
.my-yellow {
  background-color: var(--squeal-yellow);
}
.my-blu {
  background-color: var(--squeal-blue);
  color: var(--squeal-green);
}
.no-bg {
  background-color: transparent;
}

/* ------------ TODO STUFF -------------*/
.list:hover {
  background-color: var(--squeal-green);
  color: #ffffff;
}

/* ------------ NAV STUFF -------------*/
.nav-pc {
  background-color: var(--squeal-green);
  color: var(--squeal-yellow);
  font-size: 2em;
}
.icon-nav {
  background-color: var(--squeal-yellow);
  color: var(--squeal-yellow);
}

/* ------------ FOOTER STUFF -------------*/
.footer {
  position: flex;
  align-items: end;
  margin: 0%;
  padding: 0%;
  width: 100vw;
  text-align: center;
}

@keyframes rainbow-animation {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
.rainbow {
  width: 100vw;
  height: 10vh;
  background: linear-gradient(
    to right,
    var(--squeal-yellow),
    var(--squeal-green),
    var(--squeal-blue)
  );
  background-size: 1400% 100%;
  animation: rainbow-animation 15s linear infinite;
}

/* ------------ COLOR STUFF -------------*/
.my-green {
  background-color: var(--squeal-green);
}
.my-yellow {
  background-color: var(--squeal-yellow);
}
.my-blu {
  background-color: var(--squeal-blue);
}

/* ------------ FONT STUFF -------------*/
@font-face {
  font-family: "Cool-Font";
  src: url("../../public/ArchivoBlack-Regular.ttf");
}
.cool-font {
  font-family: "Cool-Font", sans-serif;
  font-size: 10vw;
}
.cool-font-small {
  font-family: "Cool-Font", sans-serif;
  font-size: 3vw;
}
.cool-font-medium {
  font-family: "Cool-Font", sans-serif;
  font-size: 5vw;
}
.cool-font-nav {
  font-family: "Cool-Font", sans-serif;
  font-size: 0.5vw;
}
