/* ------------ ATTENZIONE AGLI ALTRI FILE CSS -------------*/
html {
  text-align: center;
  background-color: var(--squeal-blue);
  color: var(--squeal-yellow);
  min-height: 100vh;
}

/* ------------ COLOR STUFF -------------*/
:root {
  --squeal-green: #528b57;
  --squeal-blue: #072f38;
  --squeal-yellow: #e0bb76;
  --squeal-red: rgb(180, 86, 86);
}
.my-green {
  background-color: var(--squeal-blue);
}
.my-yellow {
  background-color: var(--squeal-yellow);
}
.my-blu {
  background-color: var(--squeal-blue);
}

/* ------------ FONT STUFF -------------*/
.cool-font {
  font-family: "Cool-Font", sans-serif;
  color: var(--squeal-yellow);
  font-size: 10vw;
}
.cool-font-small {
  font-family: "Cool-Font", sans-serif;
  color: var(--squeal-yellow);

  font-size: 3vw;
}
.cool-font-medium {
  font-family: "Cool-Font", sans-serif;
  color: var(--squeal-yellow);

  font-size: 5vw;
}
@font-face {
  font-family: "Cool-Font";
  src: url("../../public/ArchivoBlack-Regular.ttf");
}

/* ------------ BUTTON STUFF -------------*/
.custom-button {
  background-color: var(--squeal-blue);
  color: var(--squeal-yellow);
  padding: 10px 20px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.custom-button:hover {
  background-color: var(--squeal-red);
}

input[type="radio"] {
  display: none;
}

#button-channel {
  background-color: var(--squeal-green);
  color: var(--squeal-yellow);
  padding: 0.5em 1em;
  margin: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#create-channel {
  background-color: var(--squeal-green);
  color: var(--squeal-red);
  font-weight: bold;

  padding: 0.5em 1em;
  margin: 0.5rem;

  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* ------------ MODAL STUFF -------------*/
.w-form-control {
  width: 50vw;
}

/* ------------ CHECKBOX STUFF -------------*/
#custom-checkbox {
  order: 1;
  margin-left: 2rem;
}

/*non funge prolly react-boostrap

.custom-control-input:checked {
  background-color: var(--squeal-green);
  border-color: var(--squeal-green);
}
*/

/* ------------ CHECKBOX STUFF -------------*/
.animated-title-container {
  overflow: hidden;
}

.animated-title {
  animation: slideLeft 1s ease-in-out;
  white-space: nowrap;
}

.animated-squeal {
  animation: slideRight 1s ease-in-out;
  white-space: nowrap;
}

.animated-top{
  animation: slideTop 1s ease-in-out;
  white-space: nowrap;
}

@keyframes slideLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(+100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideTop {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translate(0);
  }
}
