/* ------------ ATTENZIONE AGLI ALTRI FILE CSS -------------*/

body {
  background-color: #e0bb76;
  color: #072f38;
}

/* ------------ COLOR STUFF -------------*/
.my-green {
  background-color: #528b57;
}
.my-yellow {
  background-color: #e0bb76;
}
.my-blu {
  background-color: #072f38;
}

/* ------------ FONT STUFF -------------*/
.cool-font {
  font-family: "Cool-Font", sans-serif;
  font-size: 10vw;
}
.cool-font-small {
  font-family: "Cool-Font", sans-serif;
  font-size: 3vw;
}
.cool-font-medium {
  font-family: "Cool-Font", sans-serif;
  font-size: 5vw;
}
@font-face {
  font-family: "Cool-Font";
  src: url("../../public/ArchivoBlack-Regular.ttf");
}

/* ------------ BUTTON STUFF -------------*/
.custom-button {
  background-color: #072f38;
  color: #e0bb76;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer; /* Cambia il cursore al passaggio del mouse */
}
.custom-button:hover {
  background-color: #325434; /* Cambia il colore di sfondo quando si passa sopra il bottone */
}

input[type="radio"] {
  display: none;
}

/* ------------ BUTTON STUFF -------------*/

/* Stile del radio button personalizzato quando selezionato */
input[type="radio"]:checked + label {
  background-color: #072f38; /* Colore di sfondo quando selezionato (blu in questo caso) */
  color: #fff; /* Colore del testo quando selezionato */
  border: 1px solid #072f38; /* Bordo quando selezionato */
  border-radius: 4px; /* Angoli arrotondati quando selezionato */
  padding: 4px 8px; /* Spaziatura interna quando selezionato */
}

/* Stile predefinito dell'etichetta del radio button */
label {
  display: inline-block;
  cursor: pointer;
  padding: 4px 8px;
  border: 1px solid #528b57;
  border-radius: 4px;
}
