<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Squealer - Moderator Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../css/squealer.css">
    <script src="../../libraries/jquery/jquery.js"></script>
    <!-- Page defined scripts -->
    <script src="../../js/dashboardAdmin.js"></script>
    <script src="../../js/classes/ServerTablesOC.js"></script>
</head>
<body>
<!-- Inizio modali -->
<!-- Inizio modale registrazione-->
<div class="modal fade" id="modalAggiungiCanale" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLongTitle">Aggiungi canale</h6>
            </div>
            <div class="modal-body">
                <div class="card-text text-left">
                    <div class="mb-3">
                        <label for="registerChannel" class="form-label">Nome canale</label>
                        <input type="text" class="form-control" id="registerChannel" placeholder="nome canale">
                    </div>
                    <div class="mb-3">
                        <label for="descriptionChannel">Descrizione</label>
                        <textarea class="form-control" id="descriptionChannel" rows="3" placeholder="Descrizione"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                <button type="button" class="btn btn-primary" id="executeOperation"
                        onclick="applicaCambiamentiCanale('CHANNEL_OFFICIAL')">
                    Aggiungi canale
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Fine modale registrazione -->
<!-- Inizio modale eliminazione-->
<div class="modal fade" id="modalEliminaCanale" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modalEliminaCanaleTitle">Elimina canale</h6>
            </div>
            <div class="modal-body">
                <div class="card-text text-left">
                    <p id="eliminaUtenteCanale"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                <button type="button" id="executeDeleteButton" class="btn btn-danger" data-bs-dismiss="modal">Elimina
                    canale
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Inizio modale nuovo squeal -->
<div class="modal fade" id="nuovoSqueal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modalEliminaCanaleTitle">Nuovo squeal</h6>
            </div>
            <div class="modal-body">
                <div class="card-text text-left">
                    <div class="mb-3">
                        <label for="channelDest" class="form-label">Destinazione</label>
                        <input type="text" class="form-control" id="channelDest" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="squealContent" class="form-label">Contenuto</label>
                        <textarea class="form-control" id="squealContent" rows="3" placeholder="Cosa stai pensando?"></textarea>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                <button type="button" onclick="nuovoSqueal()" class="btn btn-success" data-bs-dismiss="modal">
                    Crea squeal
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Fine modale nuovo squeal -->
<!-- Fine modali -->
<div class="d-flex flex-nowrap" style="height: 100vh;">
    <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-theme-adaptive text-decoration-none">
            <svg class="bi pe-none me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">Squealer</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li>
                <a href="/admin/users" class="nav-link text-theme-adaptive">
                    Utenti
                </a>
            </li>
            <li>
                <a href="/admin/squeal" class="nav-link text-theme-adaptive">
                    Squeal
                </a>
            </li>
            <li>
                <a href="/admin/ochannels" class="nav-link active">
                    §CANALI (Canali ufficiali)
                </a>
            </li>
            <li>
                <a href="/admin/uchannels" class="nav-link text-theme-adaptive">
                    §canali (Canali degli utenti)
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-theme-adaptive text-decoration-none dropdown-toggle"
               data-bs-toggle="dropdown" aria-expanded="false">
                Passa a...
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="#">Utente</a></li>
                <li><a class="dropdown-item" href="#">Social Media Moderator</a></li>
            </ul>
        </div>
    </div>
    <div class="b-example-divider b-example-vr border border-secondary"></div>
    <div class="d-flex flex-column w-100">
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="/"
                   class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <svg class="bi me-2" width="40" height="32">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    <span class="header-title">Squealer - Moderator Dashboard</span>
                </a>

                <ul class="nav nav-pills">
                    <li class="nav-item">

                <span class="badge d-flex align-items-center p-1 pe-2 text-dark-emphasis bg-light-subtle border border-dark-subtle rounded-pill">
                    <!--suppress HtmlUnknownTarget -->
                    <img class="rounded-circle me-1" width="24" height="24" src="<%= icon_uri %>" alt=""><%= username %>
                </span>
                    </li>
                    &nbsp;
                    <li class="nav-item">
                        <button type="button" class="btn btn-light" onclick="executeLogout();">Logout</button>
                    </li>
                </ul>
            </header>
            <div>
                <div id="tableContainer">

                </div>
            </div>
        </div>
    </div>
</div>
<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-delay="10000" id="toastFail"
     style="z-index: 1200; position: fixed; top: 0; right: 0;">
    <div class="toast-header">
        <strong class="mr-auto">Attenzione</strong>
    </div>
    <div class="toast-body">
        <p class="text-danger">Operazione fallita</p>
    </div>
</div>
<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-delay="10000" id="toastFailGeneric"
     style="z-index: 1200; position: fixed; top: 0; right: 0;">
    <div class="toast-header">
        <strong class="mr-auto">Attenzione</strong>
    </div>
    <div class="toast-body">
        <p class="text-danger" id="toasFailProblem">Operazione fallita</p>
    </div>
</div>
<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-delay="10000" id="toastSuccess"
     style="z-index: 1200; position: fixed; top: 0; right: 0;">
    <div class="toast-header">
        <strong class="mr-auto">Ok</strong>
    </div>
    <div class="toast-body">
        <p class="text-success">Operazione effettuata con successo</p>
    </div>
</div>
<script>
    let st = new ServerTablesOC('tableContainer', {
        "channel_name": "Nome",
        "description": "Descrizione",
        "actions": "Azioni",
    }, 'st');

    loadTable();

    async function loadTable() {
        await st.askData2Server();
        st.draw();
    }

    function nuovoSqueal() {
        let channel_name = $('#channelDest').val();
        let content = $('#squealContent').val();

        fetch('../../squeal/?fromAdmin=true', {
            method: 'POST',
            body: JSON.stringify({
                squeal : {
                    destinations : [channel_name],
                    content: content,
                    message_type: 'MESSAGE_TEXT'
                }
            }),
            headers: {
                "Content-Type": "application/json",
            }
        }).then((response) => {
            if(response.ok) {
                $('#toastSuccess').toast('show');
            } else {
                notifyError('Si è verificato un errore');
            }
        });
    }

    function notifyError(msg) {
        document.getElementById('toasFailProblem').innerHTML = msg;
        $('#toastFailGeneric').toast('show');
    }

    function applicaCambiamentiCanale(channel_type, editingChannel = '') {
        let inputName = $('#registerChannel');
        let descrizioneInput = $('#descriptionChannel');
        let channelName = $(inputName).val();
        let descrizione = $(descrizioneInput).val();

        channelName = channelName.trim();
        if (channelName === '') {
            notifyError('Il nome del canale non può essere vuoto');
        }


        let data = JSON.stringify({
            channel: {
                name: channelName,
                type: channel_type
            }
        });

        let method = 'POST';
        let addingUri = '';
        if (editingChannel !== '') {
            method = 'PUT';
            addingUri = `${channel_type}/${editingChannel}/`;
        }

        fetch(`../../channel/${addingUri}`, {
            method: method,
            body: data,
            headers: {
                "Content-Type": "application/json",
            }
        }).then((response) => {
            if (response.ok) {
                //tutto ok
                $('#toastSuccess').toast('show');
                aggiornaDescrizioneCanale(channelName, descrizione);
            } else {
                notifyError('Errore con la richiesta. Riprovare');
            }
        });
        $('#modalAggiungiCanale').modal('hide');
    }

    function aggiornaDescrizioneCanale(channelName, description){
        fetch(`../../channel/CHANNEL_OFFICIAL/${channelName}/description`, {
            method: 'PUT',
            body: JSON.stringify({
                description: description
            }),
            headers: {
                "Content-Type": "application/json",
            }
        }).then((response) => {
            if (response.ok) {
                //tutto ok
                loadTable();
            }
        });
    }

    function cleanModalAddChannel() {
        document.getElementById('executeOperation').setAttribute('onclick', `applicaCambiamentiCanale('CHANNEL_OFFICIAL')`);
        document.getElementById('executeOperation').innerHTML = 'Aggiungi canale';
        $('#registerChannel').val('');
        $('#descriptionChannel').val('');
    }

    /**
     * @param {string} channel_type
     * @param {string} deletingChannel
     */
    function executeDeleteOnServer(channel_type, deletingChannel) {
        fetch(`../../channel/${channel_type}/${deletingChannel}`, {
            method: 'DELETE',
            headers: {
                "Content-Type": "application/json",
            }
        }).then((response) => {
            if (response.status === 200) {
                $('#toastSuccess').toast('show');
                loadTable();
            } else {
                notifyError('Errore nella richiesta riprovare');
            }
        });
        $("#modalEliminaCanale button[data-bs-dismiss='modal']").get(0).click();
    }

    function changeRolesChannel(channel_name) {
        $('#selectRole').val("4");
        $('#newRoleUsername').val('');
        $('#executeChangeRole').attr('onclick', `executeChangeRole('CHANNEL_OFFICIAL', '${channel_name}')`);
    }

    /**
     * @param {string} channel_type
     * @param {string} channel_name
     */
    function executeChangeRole(channel_type, channel_name) {
        let username = $('#newRoleUsername').val().trim();
        let new_role = $('#selectRole').val().trim();
        if(username.length === 0){
            notifyError('Username non valido.');
        }

        let body = JSON.stringify({
            new_role: new_role
        });

        fetch(`../../channel/${channel_type}/${channel_name}/${username}`, {
            method: 'PATCH',
            headers: {
                "Content-Type": "application/json",
            },
            body:body
        }).then((response) => {
            if (response.status === 200) {
                $('#toastSuccess').toast('show');
                loadTable();
            } else if (response.status === 401) {
                notifyError('Non autorizzato.');
            } else if (response.status === 404) {
                notifyError('Utente o canale non trovato.');
            } else {
                notifyError('Errore nella richiesta riprovare.');
            }
        });
    }

    function lockChannel(channel_type, channel_name, locked) {
        if(locked){
            $('#modalToggleLock [name="confirmLock"]').html(`Siete sicuri di voler sbloccare il canale §${channel_name}?`);
            $('#modalToggleLock [name="executeToggleLock"]').attr('onclick', `lockChannelExecute('CHANNEL_OFFICIAL', '${channel_name}')`).html('Sblocca canale');
            $('#modalToggleLock .modal-title').html('Sblocca canale');
        } else {
            $('#modalToggleLock [name="confirmLock"]').html(`Siete sicuri di voler bloccare il canale §${channel_name}?`);
            $('#modalToggleLock [name="executeToggleLock"]').attr('onclick', `lockChannelExecute('CHANNEL_OFFICIAL', '${channel_name}')`).html('Blocca canale');
            $('#modalToggleLock .modal-title').html('Blocca canale');
        }
    }

    function lockChannelExecute(channel_type, channel_name) {
        fetch(`../../channel/${channel_type}/${channel_name}/toggle/lock`, {
            method: 'PATCH',
            headers: {
                "Content-Type": "application/json",
            }
        }).then((response) => {
            if (response.status === 200) {
                $('#toastSuccess').toast('show');
                loadTable();
            } else if (response.status === 401) {
                notifyError('Non autorizzato.');
            } else if (response.status === 404) {
                notifyError('Canale non trovato.');
            } else {
                notifyError('Errore nella richiesta riprovare.');
            }
        });
    }


</script>
</body>
</html>