<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Squealer - Moderator Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../css/squealer.css">
    <link rel="stylesheet" href="../../css/App.css">
    <script src="../../libraries/jquery/jquery.js"></script>
    <!-- Page defined scripts -->
    <script src="../../js/dashboardAdmin.js"></script>
    <script src="../../js/classes/ServerTablesSQ.js"></script>
</head>
<body>
<!-- Inizio modali -->
<!-- Inizio modale visualizza commenti-->
<div class="modal fade" id="modalMostraCommenti" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLongTitle">Visualizza commenti</h6>
            </div>
            <div class="modal-body">
                <div class="card-text text-left" id="containerCommenti">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red-button" data-bs-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>
<!-- Fine modale visualizza commenti -->
<!-- Inizio modale visualizza commenti-->
<div class="modal fade" id="modalMostraContenuti" tabindex="-1" role="dialog"
     aria-labelledby="modalMostraContenutiTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modalMostraContenutiTitle">Visualizza</h6>
            </div>
            <div class="modal-body">
                <div class="card-text text-left" id="containerContent">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red-button" data-bs-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>
<!-- Fine modale visualizza commenti -->
<!-- Inizio modale modifica destinatari-->
<div class="modal fade" id="modalModificaDestinatari" tabindex="-1" role="dialog" aria-labelledby="modalModificaDest"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modalModificaDest">Modifica destinatari</h6>
            </div>
            <div class="modal-body">
                <div class="card-text text-left">
                    <div class="mb-3">
                        <label for="squealDests" class="form-label">Destinatari (Separarli da una ,)</label>
                        <textarea class="form-control" id="squealDests" rows="3" placeholder="Destinatari"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red-button" data-bs-dismiss="modal">Chiudi</button>
                <button type="button" class="btn yellow-button" name="saveOperations" onclick="updateDestinationsSqueal()"
                        data-bs-dismiss="modal">Aggiorna destinatari
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Fine modale modifica destinatari -->
<!-- Inizio modale modifica reazioni-->
<div class="modal fade" id="modalModificaReazioni" tabindex="-1" role="dialog" aria-labelledby="modalModificaReaz"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modalModificaReaz">Modifica Reazioni</h6>
            </div>
            <div class="modal-body">
                <div class="card-text text-left">
                    <div class="mb-3">
                        <label for="reazioniPos" class="form-label">Reazioni positive</label>
                        <input type="text" class="form-control" id="reazioniPos" placeholder="Reazioni positive">
                    </div>
                    <div class="mb-3">
                        <label for="reazioniNeg" class="form-label">Reazioni negative</label>
                        <input type="text" class="form-control" id="reazioniNeg" placeholder="Reazioni negative">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red-button" data-bs-dismiss="modal">Chiudi</button>
                <button type="button" class="btn green-button" name="saveOperations" onclick="updateReactionSqueal()"
                        data-bs-dismiss="modal">Aggiorna reazioni
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Fine modale modifica reazioni -->
<!-- Fine modali -->
<div class="d-flex flex-nowrap" style="height: 100vh;">
    <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 20%;">
        <ul class="nav nav-pills flex-column mb-auto">
            <li>
                <a href="/admin/users" class="nav-link yellow-button cool-font-xsm w-100 mb-1">
                    Utenti
                </a>
            </li>
            <li>
                <a href="/admin/squeal" class="nav-link green-button cool-font-xsm w-100 mb-1">
                    Squeal
                </a>
            </li>
            <li>
                <a href="/admin/ochannels" class="nav-link  yellow-button cool-font-xsm w-100 mb-1">
                    §UFFICIALI
                </a>
            </li>
            <li>
                <a href="/admin/uchannels" class="nav-link  yellow-button cool-font-xsm w-100 mb-1">
                    §utenti
                </a>
            </li>
        </ul>
    </div>
    <div class="b-example-divider b-example-vr border border-secondary"></div>
    <div class="d-flex flex-column w-100">
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="/"
                   class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <svg class="bi me-2" width="40" height="32">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    <span class="header-title cool-font-medium color-my-yellow">Squealer - Moderator Dashboard</span>
                </a>

                <ul class="nav nav-pills">
                    <li class="nav-item">

                <span class="badge d-flex align-items-center p-1 pe-2 text-dark-emphasis bg-light-subtle border border-dark-subtle rounded-pill">
                    <!--suppress HtmlUnknownTarget -->
                    <img class="rounded-circle me-1" width="24" height="24" src="<%= icon_uri %>" alt=""><%= username %>
                </span>
                    </li>
                    &nbsp;
                    <li class="nav-item">
                        <button type="button" class="btn red-button w-100" onclick="executeLogout();">Logout</button>
                    </li>
                </ul>
            </header>
            <div>
                <div id="tableContainer">

                </div>
            </div>
        </div>
    </div>
</div>
<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-delay="10000" id="toastFail"
     style="z-index: 1200; position: fixed; top: 0; right: 0;">
    <div class="toast-header">
        <strong class="mr-auto">Attenzione</strong>
    </div>
    <div class="toast-body">
        <p class="text-danger">Operazione fallita</p>
    </div>
</div>
<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-delay="10000" id="toastFailGeneric"
     style="z-index: 1200; position: fixed; top: 0; right: 0;">
    <div class="toast-header">
        <strong class="mr-auto">Attenzione</strong>
    </div>
    <div class="toast-body">
        <p class="text-danger" id="toasFailProblem">Operazione fallita</p>
    </div>
</div>
<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-delay="10000" id="toastSuccess"
     style="z-index: 1200; position: fixed; top: 0; right: 0;">
    <div class="toast-header">
        <strong class="mr-auto">Ok</strong>
    </div>
    <div class="toast-body">
        <p class="text-success">Operazione effettuata con successo</p>
    </div>
</div>
<script>
    let st = new ServerTablesSQ('tableContainer', {
        "_id": "Numero",
        "sender": "Mittente",
        "critical_mass": "Massa critica",
        "destinations": "Destinatari",
        "positive_value": "Reazioni +",
        "negative_value": "Reazioni -",
        "actions": "Azioni",
    }, 'st');

    loadTable();

    async function loadTable() {
        await st.askData2Server();
        st.draw();
    }

    function notifyError(msg) {
        document.getElementById('toasFailProblem').innerHTML = msg;
        $('#toastFailGeneric').toast('show');
    }

    function updateDestinationsSqueal(squeal_id) {
        let dests = $('#squealDests').val();
        dests = dests.split(',');
        let clean_dests = [];
        for (const dest of dests)
            clean_dests.push(dest.trim());

        fetch(`../../squeal/${squeal_id}/destinations`, {
            method: 'PUT',
            body: JSON.stringify({
                destinations: clean_dests,
            }),
            headers: {
                "Content-Type": "application/json",
            }
        }).then((response) => {
            if (response.ok) {
                $('#toastSuccess').toast('show');
                st.askData2Server();
                st.executeSearch('', '');
            } else {
                notifyError('Si è verificato un errore');
            }
        });
    }

    function updateReactionSqueal(squeal_id){
        let negative_value = $('#reazioniNeg').val();
        let positive_value = $('#reazioniPos').val();

        negative_value = parseInt(negative_value);
        positive_value = parseInt(positive_value);

        if(isNaN(positive_value) || isNaN(negative_value)){
            notifyError('Inserire solo valori numerici');
            return
        }


        fetch(`../../squeal/${squeal_id}/reactions`, {
            method: 'PUT',
            body: JSON.stringify({
                negative_value: negative_value,
                positive_value: positive_value
            }),
            headers: {
                "Content-Type": "application/json",
            }
        }).then((response) => {
            if (response.ok) {
                $('#toastSuccess').toast('show');
                st.askData2Server();
                st.executeSearch('', '');
            } else {
                notifyError('Si è verificato un errore');
            }
        });
    }

</script>
</body>
</html>