<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Squealer - Moderator Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../css/squealer.css">
    <link rel="stylesheet" href="../../css/App.css">
    <script src="../../libraries/jquery/jquery.js"></script>
    <!-- Page defined scripts -->
    <script src="../../js/dashboardAdmin.js"></script>
    <script src="../../js/classes/ServerTablesUsers.js"></script>
</head>
<body>
<!-- Inizio modali -->
<!-- Inizio modale registrazione-->
<div class="modal fade" id="modalAggiungiUtente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLongTitle">Aggiungi utente</h6>
            </div>
            <div class="modal-body">
                <div class="card-text text-left">
                    <div class="mb-3">
                        <label for="registerUsername" class="form-label">Username</label>
                        <input type="email" class="form-control" id="registerUsername" placeholder="username">
                    </div>
                    <div class="mb-3">
                        <label for="registerEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="registerEmail" placeholder="user@email.com">
                    </div>
                    <div class="mb-3">
                        <label for="registerFirstName" class="form-label">Nome</label>
                        <input type="email" class="form-control" id="registerFirstName" placeholder="Nome">
                    </div>
                    <div class="mb-3">
                        <label for="registerLastName" class="form-label">Cognome</label>
                        <input type="email" class="form-control" id="registerLastName" placeholder="Cognome">
                    </div>
                    <div class="mb-3">
                        <label for="registerPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="registerPassword" placeholder="password">
                        <span class="text-white">Almeno 8 caratteri.</span>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Conferma Password</label>
                        <input type="password" class="form-control" id="confirmPassword" placeholder="password">
                    </div>
                    <div class="text-white">Tutti i campi sono obbligatori</div>
                    <br/>
                    <div class="mb-3">
                        <span class="text-white">Selezionare le autorizzazioni</span>
                        <div class="w-100 btn-group" role="group" aria-label="Autorizzazioni">
                            <input type="checkbox" class="btn-check" id="isUser" autocomplete="off">
                            <label class="btn btn-outline-light" for="isUser">Utente</label>

                            <input type="checkbox" class="btn-check" id="isVip" autocomplete="off">
                            <label class="btn btn-outline-light" for="isVip">V.I.P.</label>

                            <input type="checkbox" class="btn-check" id="isSmm" autocomplete="off">
                            <label class="btn btn-outline-light" for="isSmm">Social Media Manager</label>

                            <input type="checkbox" class="btn-check" id="isMod" autocomplete="off">
                            <label class="btn btn-outline-light" for="isMod">Moderatore</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red-button" data-bs-dismiss="modal">Chiudi</button>
                <button type="button" class="btn green-button" id="executeOperation"
                        onclick="applicaCambiamentiUtente()">
                    Aggiungi utente
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Fine modale registrazione -->
<!-- Inizio modale eliminazione-->
<div class="modal fade" id="modalEliminaUtente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modalEliminaUtenteTitle">Elimina utente</h6>
            </div>
            <div class="modal-body">
                <div class="card-text text-left">
                    <p id="eliminaUtenteUsername"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red-button" data-bs-dismiss="modal">Chiudi</button>
                <button type="button" id="executeDeleteButton" class="btn blue-button" data-bs-dismiss="modal">Elimina
                    utente
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Fine modale eliminazione -->
<!-- Inizio modale modifica quota-->
<div class="modal fade" id="modalCambiaQuota" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Modifica quota utente</h6>
            </div>
            <div class="modal-body">
                <div class="card-text text-left">
                    <div class="mb-3">
                        <div name="container">
                            Caricamento...
                        </div>
                        <label for="newPercentage" class="form-label">Percentuale (50 = 50%)</label>
                        <input type="text" onkeyup="st.createLayoutNewQuota(this)" class="form-control" id="newPercentage" placeholder="100">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red-button" data-bs-dismiss="modal">Chiudi</button>
                <button type="button" name="perform_operation" class="btn green-button" data-bs-dismiss="modal">
                    Modifica quota
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Fine modale modifica quota -->
<!-- Inizio modale lock-->
<div class="modal fade" id="modalToggleLock" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Blocca utente</h6>
            </div>
            <div class="modal-body">
                <div class="card-text text-left">
                    <p name="confirmLock"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red-button" data-bs-dismiss="modal">Chiudi</button>
                <button type="button" name="executeToggleLock" onclick="lockUserExecute('')" class="btn blue-button" data-bs-dismiss="modal">
                    Blocca canale
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Fine modale lock -->
<!-- Fine modali -->
<div class="d-flex flex-nowrap" style="height: 100vh;">
    <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 20%;">
        <ul class="nav nav-pills flex-column mb-auto">
            <li>
                <a href="/admin/users" class="nav-link green-button cool-font-xsm w-100 mb-1">
                    Utenti
                </a>
            </li>
            <li>
                <a href="/admin/squeal" class="nav-link yellow-button cool-font-xsm w-100 mb-1">
                    Squeal
                </a>
            </li>
            <li>
                <a href="/admin/ochannels" class="nav-link  yellow-button cool-font-xsm w-100 mb-1">
                    §UFFICIALI
                </a>
            </li>
            <li>
                <a href="/admin/uchannels" class="nav-link  yellow-button cool-font-xsm w-100 mb-1">
                    §utenti
                </a>
            </li>
        </ul>
    </div>
    <div class="b-example-divider b-example-vr border border-secondary"></div>
    <div class="d-flex flex-column w-100">
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="/"
                   class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <svg class="bi me-2" width="40" height="32">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    <span class="header-title cool-font-medium color-my-yellow">Squealer - Moderator Dashboard</span>
                </a>

                <ul class="nav nav-pills">
                    <li class="nav-item">

                <span class="badge d-flex align-items-center p-1 pe-2 text-dark-emphasis bg-light-subtle border border-dark-subtle rounded-pill">
                    <!--suppress HtmlUnknownTarget -->
                    <img class="rounded-circle me-1" width="24" height="24" src="<%= icon_uri %>" alt=""><%= username %>
                </span>
                    </li>
                    &nbsp;
                    <li class="nav-item">
                        <button type="button" class="btn red-button w-100" onclick="executeLogout();">Logout</button>
                    </li>
                </ul>
            </header>
            <div>
                <div id="tableContainer">

                </div>
            </div>
        </div>
    </div>
</div>
<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-delay="10000" id="toastFail"
     style="z-index: 1200; position: fixed; top: 0; right: 0;">
    <div class="toast-header">
        <strong class="mr-auto">Attenzione</strong>
    </div>
    <div class="toast-body">
        <p class="text-danger">Operazione fallita</p>
    </div>
</div>
<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-delay="10000" id="toastFailGeneric"
     style="z-index: 1200; position: fixed; top: 0; right: 0;">
    <div class="toast-header">
        <strong class="mr-auto">Attenzione</strong>
    </div>
    <div class="toast-body">
        <p class="text-danger" id="toasFailProblem">Operazione fallita</p>
    </div>
</div>
<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-delay="10000" id="toastSuccess"
     style="z-index: 1200; position: fixed; top: 0; right: 0;">
    <div class="toast-header">
        <strong class="mr-auto">Ok</strong>
    </div>
    <div class="toast-body">
        <p class="text-success">Operazione effettuata con successo</p>
    </div>
</div>
<script>
    let st = new ServerTablesUsers('tableContainer', {
        "username": "Username",
        "email": "Email",
        "first_name": "Nome",
        "last_name": "Cognome",
        "locked": "Bloccato",
        "null": "Autorizzazioni",
        "actions": "Azioni"
    }, 'st');

    loadTable();

    async function loadTable() {
        await st.askData2Server();
        st.draw();
    }

    function cleanModalAddUser() {
        document.getElementById('exampleModalLongTitle').innerHTML = 'Aggiungi utente';
        document.getElementById('registerUsername').value = '';
        document.getElementById('registerEmail').value = '';
        document.getElementById('registerFirstName').value = '';
        document.getElementById('registerLastName').value = '';
        document.getElementById('registerPassword').value = '';
        document.getElementById('confirmPassword').value = '';
        document.getElementById('isUser').checked = false;
        document.getElementById('isSmm').checked = false;
        document.getElementById('isMod').checked = false;
        document.getElementById('isVip').checked = false;
        document.getElementById('executeOperation').setAttribute('onclick', 'applicaCambiamentiUtente()');
        document.getElementById('executeOperation').innerHTML = 'Aggiungi utente';
    }

    function notifyError(msg) {
        document.getElementById('toasFailProblem').innerHTML = msg;
        $('#toastFailGeneric').toast('show');
    }

    function applicaCambiamentiUtente(oldUsername = null) {
        let username = document.getElementById('registerUsername').value;
        let email = document.getElementById('registerEmail').value;
        let firstName = document.getElementById('registerFirstName').value;
        let lastName = document.getElementById('registerLastName').value;
        let password = document.getElementById('registerPassword').value;
        let confPassword = document.getElementById('confirmPassword').value;
        let isUser = document.getElementById('isUser').checked;
        let isSmm = document.getElementById('isSmm').checked;
        let isMod = document.getElementById('isMod').checked;
        let isVip = document.getElementById('isVip').checked;

        username = username.trim();
        email = email.trim();
        firstName = firstName.trim();
        lastName = lastName.trim();
        password = password.trim();
        confPassword = confPassword.trim();

        if (username === '' || email === '' || firstName === '' || lastName === '') {
            notifyError('Compilare tutti i campi');
            return;
        }

        if (!isUser && !isSmm && !isMod) {
            notifyError('Dare almeno un ruolo all\'utente');
            return;
        }

        if (confPassword.length < 8 && !(oldUsername !== null && confPassword.length === 0)) {
            notifyError('La password è troppo breve');
        }

        if (confPassword !== password) {
            notifyError('Le due password non coincidono');
            return;
        }

        let method = 'POST'
        let uri = '../../user/';
        if (oldUsername !== null) {
            //UPDATE
            method = 'PUT';
            uri = uri + oldUsername;
        }

        if(isSmm && !isVip){
            notifyError("Se si inserisce uno SMM occorre che l'utente sia vip");
            return;
        }

        let dataReq = JSON.stringify({
            user: {
                username: username,
                email: email,
                firstname: firstName,
                lastname: lastName,
                password: password,
                isUser: isUser,
                isSmm: isSmm,
                isMod: isMod,
                vip: isVip
            }
        });

        fetch(uri, {
            method: method,
            headers: {
                "Content-Type": "application/json",
            },
            body: dataReq
        }).then((response) => {
            if (response.ok === false)
                return response.json();
            else {
                //tutto ok chiudiamo il modale
                $('#toastSuccess').toast('show');
                loadTable();
                $('#modalAggiungiUtente').modal('hide');
            }
        }).then((json) => {
            console.log(json);
            if (typeof json === 'undefined')
                return;

            switch (json.req_error) {
                case -1:
                    notifyError("Username o email già usati, sceglierne altri.");
                    break;
                case -2:
                    notifyError("Nessuna autorizzazione concessa.");
                    break;
                case -102:
                    notifyError("Email non valida.");
                    break;
                default:
                    notifyError("Errore generico, riprovare.");
                    break;
            }

        });
    }

    function executeChangeQuota(username){
        let percentage = $('#newPercentage').val();
        percentage = parseInt(percentage);
        if(isNaN(percentage)){
            notifyError('Errore. La percentuale inserita non è valida.');
        }
        if(percentage < 0 || percentage > 10000){
            notifyError('Errore. La percentuale inserita non è valida.');
        }

        let data = JSON.stringify({
            "percentage": percentage
        });

        fetch(`../../user/${username}/quote`, {
            method: 'PATCH',
            headers: {
                "Content-Type": "application/json",
            },
            body: data
        }).then((response) => {
            console.log(response);
        });

    }

    function executeDeleteOnServer(username) {
        fetch(`../../user/${username}`, {
            method: 'DELETE',
            headers: {
                "Content-Type": "application/json",
            }
        }).then((response) => {
            if (response.status === 200) {
                $('#toastSuccess').toast('show');
                loadTable();
            } else {
                $('#toastFail').toast('show');
            }
        });
    }

    function lockUser(username, locked) {
        if(locked){
            $('#modalToggleLock [name="confirmLock"]').html(`Siete sicuri di voler sbloccare l'utente "${username}"?`);
            $('#modalToggleLock [name="executeToggleLock"]').attr('onclick', `lockUserExecute('${username}')`).html('Sblocca utente');
            $('#modalToggleLock .modal-title').html('Sblocca utente');
        } else {
            $('#modalToggleLock [name="confirmLock"]').html(`Siete sicuri di voler bloccare l'utente "${username}"?`);
            $('#modalToggleLock [name="executeToggleLock"]').attr('onclick', `lockUserExecute('${username}')`).html('Blocca utente');
            $('#modalToggleLock .modal-title').html('Blocca utente');
        }
    }

    function lockUserExecute(username) {
        fetch(`../../user/${username}/toggle/lock`, {
            method: 'PATCH',
            headers: {
                "Content-Type": "application/json",
            }
        }).then((response) => {
            if (response.status === 200) {
                $('#toastSuccess').toast('show');
                loadTable();
            } else if (response.status === 401) {
                notifyError('Non autorizzato.');
            } else if (response.status === 404) {
                notifyError('Utente non trovato.');
            } else {
                notifyError('Errore nella richiesta riprovare.');
            }
        });
    }


</script>
</body>
</html>