/* ------------ ATTENZIONE AGLI ALTRI FILE CSS -------------*/
html{
  background-color: #e0bb76;
}

body {
  text-align: center;
  background-color: #e0bb76;
  color: #08353f;
}
.App {
  text-align: center;
  background-color: #e0bb76;
  color: #08353f;
}
#elemento-espanso {
  position: absolute; /* Posizionamento assoluto rispetto alla view
  top: 0; /* Inizia dall'alto della viewport */
  right: 0; /* Finisce a destra della viewport */
  bottom: 0; /* Finisce in basso della viewport */
  left: 0; /* Inizia da sinistra della viewport */
  background-color: #e0bb76;
}
/* -----------------FONT STUFF------------------ */
.cool-font {
  font-family: "Cool-Font", sans-serif;
  font-size: 10vw;
}
.cool-font-medium {
  font-family: "Cool-Font", sans-serif;
  font-size: 5vw;
}
.cool-font-small {
  font-family: "Cool-Font", sans-serif;
  font-size: 3vw;
}
@font-face {
  font-family: "Cool-Font";
  src: url("../public/ArchivoBlack-Regular.ttf");
}
.list:hover {
  background-color: #072f38;
  color: #ffffff;
}

/* -------------------- COLOR STUFF ------------------*/
.my-green {
  background-color: #325434;
}
.my-yellow {
  background-color: #e0bb76;
}
.my-blu {
  background-color: #072f38;
}
.no-bg {
  background-color: transparent;
}
/* -------------------- BUTTON STUFF: 2 tipi ------------------*/
.custom-button {
  background-color: #072f38;
  color: #e0bb76;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer; /* Cambia il cursore al passaggio del mouse */
}
.custom-button:hover {
  background-color: #325434; /* Cambia il colore di sfondo quando si passa sopra il bottone */
}
.bottoni_omologati {
  background-color: #325434;
  width: 5em;
  min-height: 5em;
  border-radius: 2em;
}
.bottoni_omologati:hover {
  background-color: #072f38;
}

/* -------------------- IMG STUFF ------------------*/
/* Stile predefinito per l'immagine */
img {
  max-width: 100%; /* L'immagine si adatta alla larghezza del suo contenitore */
  height: auto; /* Altezza automatica per evitare distorsioni */
}

/* Stile per schermi di dimensioni medie (ad esempio, tablet) */
@media (max-width: 768px) {
  img {
    max-width: 30%; /* Riduci la larghezza dell'immagine al 80% del suo contenitore */
  }
}

/* Stile per schermi di dimensioni piccole (ad esempio, smartphone) */
@media (max-width: 300px) {
  img {
    max-width: 70vw;
    max-height: 30vh; /* Riduci ulteriormente la larghezza dell'immagine al 60% del suo contenitore */
  }
}

/* -------------------- MADE BY REACT STUFF ------------------*/
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

/* -------------------- ESPERIMENTI PAZZI  img ------------------*/
/*
.background-image {
  background-color: red;
  background-size: cover;
  background-position: center;
}
*/
