@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #181514;
        color: #ffffff;
    }

    .card {
        background-color: #383232;
        color: #ffffff;
    }

    .card-body {
        background-color: #383232;
        color: #ffffff;
    }

    .modal-dialog {
        color: #ffffff;
    }

    .modal-header {
        background-color: #1f1d1d;
        color: #ffffff;
    }

    .modal-body {
        background-color: #383232;
        color: #ffffff;
    }

    .modal-footer {
        background-color: #1f1d1d;
        color: #ffffff;
    }

    .header-title {
        font-size: 1.5rem !important;
        color: #ffffff;
    }

    .text-theme-adaptive {
        color: #FFFFFF;
    }

}

@media screen and (prefers-color-scheme: light) {
    body {

    }

    .header-title {
        font-size: 1.5rem !important;
    }

    .text-theme-adaptive {
        color: #000000;
    }

}
